<footer class="footer-area">
  <div class="container">
    <div class="address">
      <div class="address-box clearfix">
        <p><a href="mailto:yml.lily@gmail.com">yml.lily@gmail.com</a></p>
      </div>
      <div class="address-box clearfix">
        <p><a href="https://ymll.github.io/">https://ymll.github.io</a></p>
      </div>
    </div>
    <p>
      <ul class="social-ul">
        <li><a href="https://github.com/ymll"><span class="fa fa-github"></span></a></li>
        <li><a href="https://linkedin.com/in/yunglily/"><span class="fa fa-linkedin"></span></a></li>
      </ul>
    </p>
    <p>Last update: 1 May 2024</p>
  </div>
</footer>
