<section id="quote" class="testimonial-area section-big">
  <div class="container">
    <div class="row hidden">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2><span>My Favourite</span> Quote</h2>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="testimonial-list demo-3 owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-item" style="width: 1170px;"><div class="single-testimonial text-center">
          <span class="fa fa-quote-left"></span>
          <p>Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. Code for readability.</p>
          <div class="clearfix"></div>
          <h4>- John F. Woods</h4>
          <p class="desg">Usage of comma operator</p>
        </div></div>
        <div class="owl-item" style="width: 1170px;"><div class="single-testimonial text-center">
          <span class="fa fa-quote-left"></span>
          <p>You can't have great software without a great team, and most software teams behave like dysfunctional families.</p>
          <div class="clearfix"></div>
          <h4>- Jim McCarthy</h4>
          <p class="desg"></p>
        </div></div>
        <div class="owl-item" style="width: 1170px;"><div class="single-testimonial text-center">
          <span class="fa fa-quote-left"></span>
          <p>If debugging is the process of removing bugs, then programming must be the process of putting them in.</p>
          <div class="clearfix"></div>
          <h4>- Edsger W. Dijkstra</h4>
          <p class="desg"></p>
        </div></div>
      </div>
    </div>
  </div>
</section>
