<section id="home" class="slider-area">
  <div class="table">
    <div class="table-cell">
      <div class="intro-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>./ymll.github.io</h2>
              <div class="hello-world">
                <div class="typejs">Hello World</div><span class="typed-cursor"></span>
                <div class="clearfix"></div>
              </div>
              <a href="#about" class="icon-btn smooth_scroll">
                <i class="fa fa-angle-double-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
